.card .selected {
  background-color: rgb(113, 100, 117);
  border-radius: 5px;
  color: rgb(255, 254, 237);
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Increase the size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}
