.card .selected {
  background-color: rgb(190, 150, 76) !important;
  border-radius: 5px;
  color: rgb(255, 254, 237);
}

.card .conflicting {
  background-color: rgba(70, 69, 65, 0.822);
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05); /* Increase the size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}
