.btn_style {
  margin-right: 10px;
}
.btn-selected {
  background-color: goldenrod !important;
  border-color: chocolate !important;
}
.btn-unselected {
  background-color: rgb(160, 132, 95);
  border-color: rgb(95, 84, 58);
}
.button-row {
  display: flex;
  justify-content: space-between; /*separates buttons to far left and far right*/
  align-items: center;
}

.selectorncart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.cartbtn {
  background-color: rgb(250, 247, 215);
}
